
body {
    font-family: Arial, sans-serif;
    background: #e9eef3;
    padding: 30px;
}

#contenedorBotones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.botonProducto {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background: white;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.botonProducto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.tituloProducto {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

.botonProducto:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    background: #f5f5f5;
}

.botonProducto:active {
    transform: scale(0.98);
}


/* Menu*/
.menu-contenedor {
    position: relative;
    width: 80px;
    margin: 20px;
}

.menu-boton {
    width: 60px;
    height: 60px;
    background-color: #ffee05;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-boton img {
    width: 35px;
}

.menu-opciones {
    position: absolute;
    top: 70px;
    left: 0;
    width: 160px;
    background-color: #ffee05;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
}

.menu-opciones.activo {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menu-opciones a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.menu-opciones a:hover {
    background-color: white;
}

.menu-boton img {
    width: 35px;
    transition: transform 0.4s ease;
}

.menu-boton.activo img {
    transform: rotate(90deg);
}

.menu-boton img {
    width: 35px;
    filter: grayscale(100%) brightness(70%);
    transition: 0.4s ease;
}

.menu-boton:hover img {
    filter: grayscale(0%) brightness(100%);
}


